.layout{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:24px;

    margin-top:24px;

}

.left{

    display:flex;

    flex-direction:column;

    gap:24px;

}

.right{

    display:flex;

    flex-direction:column;

    gap:24px;

}

@media(max-width:1200px){

    .layout{

        grid-template-columns:1fr;

    }

}