*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:"Plus Jakarta Sans",sans-serif;

    background:#F4F7FB;

    color:#0F172A;

    overflow:hidden;

}

button{

    font-family:inherit;

}

input{

    font-family:inherit;

}

select{

    font-family:inherit;

}

a{

    text-decoration:none;

    color:inherit;

}