.loginButton{

    padding:18px 42px;

    border:none;

    border-radius:12px;

    background:#2563EB;

    color:#fff;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.loginButton:hover{

    transform:translateY(-2px);

}